<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Your Account</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>

  <h1 class="title">Welcome to GFU!</h1>

  <div class="container" id="container">
    <!-- Sign Up Form -->
    <div class="form-container sign-up-container">
      <h2>Create an Account</h2>
      <form id="signUpForm" action="/register" method="post">
        <label for="sign_up_type">Account Type</label>
        <select id="sign_up_type">
          <option value="student">Student</option>
<!--          <option value="faculty">Faculty</option>  * add later date 
          <option value="admin">Admin</option> -->
        </select>
  
        <label for="signup_first_name">First Name:</label>
        <input type="text" id="signup_first_name" name="first_name" required/>
  
        <label for="signup_last_name">Last Name:</label>
        <input type="text" id="signup_last_name" name="last_name" required/>
  
        <label for="signup_email">Email:</label>
        <input type="email" id="signup_email" name="email" required/>
  
        <label for="signup_password">Password:</label>
        <input type="password" id="signup_password" name="password" required/>
  
        <button type="submit">Sign Up</button>
      </form>
      <div class="auth">
      </div>
    </div>
    
    <!-- Sign In Form -->
    <div class="form-container sign-in-container">
      <h2 id="loginTitle">Login to GFU</h2>
      <form id="loginForm" action="/login" method="POST">
        <label for="login_credential">Email:</label>
        <input type="text" id="login_credential" required/>
  
        <label for="login_password">Password:</label>
        <input type="password" id="login_password" required/>
        <button type="submit">Sign in</button>
      </form>
      <div class="auth">
      </div>
    </div>
  
    <!-- Overlay Container for Additional Info -->
    <div class="overlay-container">
      <div class="overlay">
        <!-- Overlay Panel for Sign In Message -->
        <div class="overlay-panel overlay-left">
          <h1>Hello, Friend!</h1>
          <p>To stay connected with us, create your account and start your journey as part of our academic community.</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        
        <!-- Overlay Panel for Sign Up Message -->
        <div class="overlay-panel overlay-right">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details and start your GFU journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/javascript/auth.js"></script>
</body>
</html>