<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    
  <h1 class="title">Welcome to GFU!</h1>
  <!-- Front side -->
  <div class="flipbox">
    <div class="flipbox_inner">
      <div class="flipbox_front">
        <div class="signup_form">
          <h2>Create an Account</h2>
          <!-- Sign Up Form -->
          <form id="signUpForm">
            <label for="sign_up_type">Account Type</label>
            <select id="sign_up_type">
              <option value="student">Student</option>
              <option value="faculty">Faculty</option>
              <option value="admin">Admin</option>
            </select>
            
            <label for="signup_first_name">First name:</label>
            <input type="text" id="signup_first_name" required/>

            <label for="signup_last_name">Last Name:</label>
            <input type="text" id="signup_last_name" required/>

            <label for="signup_username" class="hidden">Username:</label>
            <input type="text" id="signup_username" class="hidden"/>

            <label for="signup_email">Email:</label>
            <input type="email" id="signup_email" required/>

            <label for="signup_password">Password:</label>
            <input type="password" id="signup_password" required/>

            <label for="password_confirmation">Password Confirmation:</label>
            <input type="password" id="password_confirmation" required/>

            <button type="submit">Sign Up</button>
          </form>
          
          <div class="auth">
            <h5>Have an account? <span id="login_button">Login</span></h5>
          </div>
        </div>
        <!-- Error or Success Message -->
        <div id="message"></div>
      </div>
      
        <!-- Back side -->
        <div class="flipbox_back">
          <div class="login_form">
            <h2>Login to GFU</h2>
            <form id="loginForm">
              <label for="login_credential">Username or Email:</label>
              <input type="text" id="login_credential" required/>
  
              <label for="login_password">Password:</label>
              <input type="password" id="login_password" required/>
              <button type="submit">Sign in</button>
            </form>
            <div class="auth">
              <h5>Don't Have an account? <span id="signup_button">Sign up</span></h5>
            </div>  
          </div>
           <!-- Error or Success Message -->
           <div id="messages"></div>
        </div>
    </div>
  </div>

 <!-- <script src="/js/auth.js"></script> -->
</body>
</html>